<section class="container">
  <h2 class="titulo">Transferencias</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <tbody *ngIf="lsPacotes?.length  > 0; else listaVazia">
      <tr class="tabela__linha" *ngFor="let item of lsPacotes">
        <td class="tabela__linha__conteudo">{{item.data | date: "short"}}</td>
        <td class="tabela__linha__conteudo">{{item.valor | currency }}</td>
        <td class="tabela__linha__conteudo">{{item.destino}}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #listaVazia>
    <p>Nenhuma tranferência cadastrada</p>
  </ng-template>
</section>
